{% extends "layout.html" %}

{% block title %}
    DCF
{% endblock %}

{% block main %}
    <body>
        <!-- App's own JS -->
        <!-- <script src="static/js/scripts.js"></script> -->

        <h1 align="center">DCF (Discounted Cash Flow) Calculator</h1>
        <div align="center">
            <form action="/dcf-calculator" id="form" method="post">
                <fieldset>
                    <legend>Inputs:</legend>
                    <input type="text" id="revenue" name="revenue" placeholder="Revenue" required><br><br>
                    <input type="text" id="revenue-growth-rate" name="revenue-growth-rate" placeholder="Revenue Growth %" required><br><br>
                    <input type="text" id="fcf-margin" name="fcf-margin" placeholder="Free Cash Flow Margin %" required><br><br>
                    <input type="text" id="pfcf-ratio" name="pfcf-ratio" placeholder="P/FCF Ratio" required><br><br>
                    <input type="text" id="return" name="return" placeholder="Desired Annual Return" required><br><br>
                    <input type="text" id="time" name="time" placeholder="Time in Years" required><br><br>
                    <input class="btn btn-primary" id="submit" type="submit" value="Calculate">
                    <input class="btn btn-primary" type="reset">
                </fieldset>
            </form> 
        </div>
        <div align="center">
            <h3 id="output2">DCF Value: ${{ discounted_cash_flow }}</h3>
        </div>
    </body>
{% endblock %}