<!DOCTYPE html>
<html>
    <body>

        <h2>Intrinsic Value Calculator</h2>

        <form action="/", method="post">
            <fieldset>
                <legend>Inputs:</legend>
                <input type="text" name="revenue" placeholder="Revenue"><br><br>
                <input type="text" name="revenue-growth" placeholder="Revenue Growth %"><br><br>
                <input type="text" name="shares-out" placeholder="Shares Outstanding"><br><br>
                <input type="text" name="share-chg" placeholder="Share Change %"><br><br>
                <input type="text" name="profit-margin" placeholder="Profit Margin %"><br><br>
                <input type="text" name="fcf-margin" placeholder="Free Cash Flow Margin %"><br><br>
                <input type="text" name="pe-ratio" placeholder="P/E Ratio"><br><br>
                <input type="text" name="pfcf-ratio" placeholder="P/FCF Ratio"><br><br>
                <input type="text" name="return" placeholder="Desired Annual Return"><br><br>
                <input type="text" name="time" placeholder="Time in Years"><br><br>
                <input class="btn btn-primary" type="submit" value="Calculate">
                <input type="reset">
            </fieldset>
        </form> 

        <output>
            
        </output>

    </body>
</html>